<h1>Welcome</h1>

<% if current_user %>
  <p>I'm thinking...</p>
  <%= form_for(@ramble)  do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit "Ramble!" %>
  <% end %>
<% else %>
  <p>Sign in to ramble</p>
<% end %>

<ul>
  <%= render @rambles %>
</ul>
